* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --primary-color: #242429;
    --secondary-color: #1a3297;
    --third-color: #471da9;
    --primary-color-light: #dbdeec;
    --secondary-color-light: #abb8f1;
    --third-color-light: #9e7ee9;
    --white: #ffffff;
    --black: #000000;
}
