.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wordCard {
    border: 4px solid var(--black);
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 20em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    max-width: 60rem;
    width: 60rem;
}

.wordCard h5 {
    font-weight: bold;
    font-size: 1.1rem;
}

.wordCard h1 {
    display: inline;
    line-height: 3rem;
}

.favoriteWordButton {
    display: inline;
    border: none;
    padding-left: 1.5rem;
    font-size: 1.4rem;
}

#dark .favoriteWordButton {
    background: var(--primary-color);
}

#light .favoriteWordButton {
    background: var(--primary-color-light);
}
